html
{
  overflow: auto !important;
}

body {
	width:100% !important;
	height:100% !important;
}

.noscript .boxy-wrapper {
	position:absolute !important;
	top:100px !important;
	left:100px !important;
	z-index:1002 !important;
}

.noscript .boxy-modal-blackout {
	position:absolute !important;
	z-index:1001;
	top:0;
	left:0;
	width:1000px;
	height:1000px;
	filter: alpha(opacity=60);
}

.boxy-wrapper .top-left,
.boxy-wrapper .top-right,
.boxy-wrapper .bottom-right,
.boxy-wrapper .bottom-left {
	width: 10px;
	background: black !important;
	opacity: 0.6;
	filter: alpha(opacity=60);
	padding: 0;
}
